<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Добавление приглашения пользователя</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>

<div class="hidden">
    <div class="nav-links" th:fragment="custom-links-content">
        <a th:href="@{/channels}">Список каналов</a>
        <span>|</span>
        <a th:href='@{/channels/add-channel(ch=0)}+${sessionParamsString}'>Добавить канал</a>
        <span sec:authorize="isAuthenticated()">|</span>
        <a sec:authorize="isAuthenticated()" th:href="@{/rss/user/{user_uuid}(user_uuid=${user_uuid})}">RSS feed "все
            файлы"</a>
    </div>
</div>
<div th:replace="~{topmenu}"></div>

<main>
    <div class="main-part">
        <div class="header-block">
            <div class="header-title">Добавление приглашения пользователя.</div>
        </div>
        <div class="paragraph">
            <span th:text="${inviteMessage}"></span>
        </div>
    </div>
</main>

<div th:replace="~{footer}"></div>
</body>
</html>