<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление канала</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
<h1>Добавление канала</h1>
<form method="post" th:action="@{/channels/add-channel}">
    <label for="url-input">URL канала:</label>
    <input type="text" id="url-input" name="url" placeholder="Введите URL канала">
    <th:block th:each="sessionParam : ${sessionParams}">
        <input type="hidden" th:value="${sessionParam.value}" th:name="${sessionParam.name}" />
    </th:block>
    <button type="submit">Добавить</button>
</form>
</body>
</html>
