<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список каналов</title>
</head>
<body>
<h1>Список каналов</h1>
<div>
    <span>Страницы:</span>
    <span th:each="pageNumber : ${#numbers.sequence(1, totalPages)}">
        <a th:href="@{/channels(page=${pageNumber})}" th:text="${pageNumber}">1</a>
    </span>
</div>
<table>
    <thead>
    <tr>
        <th>URL</th>
        <th>Название</th>
        <th>Список файлов</th>
        <th>Действия</th>
        <th>Feed</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="channel : ${channels}">
        <td><a th:href="${channel.url}" th:text="${channel.url}">Ссылка на канал</a></td>
        <td th:text="${channel.title}"></td>
        <td><a th:href="@{/channels/files(channelId=${channel.id})}">Файлы >></a></td>
        <td>
            <form th:action="@{/channels/del-channel}" method="post">
                <input hidden th:value="${channel.id}" name="channelId">

                <button type="submit" value="Удалить"><img src="trash.png" width="15px"></button>
            </form>
        </td>
        <td>
            <a th:href="@{/feeds/chanel/{channel_uuid}/LAST_DAY(channel_uuid=${channel.uuid})}">За день</a>
            <a th:href="@{/feeds/chanel/{channel_uuid}(channel_uuid=${channel.uuid})}">Полный</a>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <a th:href="@{/channels/add-channel}">Добавить канал</a>
</div>
<div>
    <a th:href="@{/}">На главную</a>
</div>
</body>
</html>