<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список каналов</title>
</head>
<body>
<h1>Список каналов</h1>
<table>
    <thead>
    <tr>
        <th>URL</th>
        <th>Название</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="channel : ${channels}">
        <td th:text="${channel.url}"></td>
        <td th:text="${channel.title}"></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{/channels/add-channel}">Добавить канал</a>
</div>
</body>
</html>