<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:time="http://www.thymeleaf.org/extras/java8time">
<head>
    <meta charset="UTF-8">
    <title>Список файлов</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>

<div class="hidden">
    <div class="nav-links" th:fragment="custom-links-content">
        <a th:href="@{/}">На главную</a>
        <span>|</span>
        <a th:href="@{/channels}">К списку каналов</a>
    </div>
</div>
<div th:replace="~{topmenu}"></div>

<main>
    <div class="main-part">
        <div class="header-block">
            <div class="header-title">Список файлов канала &laquo; <span th:text="${channel.title}"></span> &raquo;
                <div class="header-pages">
                    <span>Страницы:</span>
                    <span th:each="pageNumber : ${#numbers.sequence(1, totalPages)}">
                    <a th:href='@{/channels/files(page=${pageNumber}, channelId=${channel.id})}+${sessionParamsString}'
                       th:text="${pageNumber}">1</a>
                </span>
                </div>
            </div>
        </div>
        <table>
            <thead>
            <tr>
                <th>URL оригинала</th>
                <th>Время обновления файла (UTC)</th>
                <th>Скаченный файл</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="file : ${files}">
                <td><a th:href="${file.getOriginalUrl}" th:text="${file.title}">Ссылка на файл</a></td>
                <td th:text="${#temporals.format(file.updatedAt, 'dd MMMM yyyy HH:mm:ss')}"></td>
                <td>
                    <a th:if="${file.downloadedFileUrl != null and file.downloadedFileUrl != ''}"
                       th:href="${file.downloadedFileUrl}" th:text="${file.downloadedFileUrl}">Ссылка на скаченный
                        файл</a>
                    <span th:if="${file.downloadedFileUrl == null or file.downloadedFileUrl == ''}">
                        Файл ещё не готов
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<div th:replace="~{footer}"></div>

</body>
</html>
