<div class="navbar" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <div class="together">
        <div class="project-title">
            <a href="/"><img src="/images/logo.png" alt="Project Logo" width="40" height="40"></a>
            Youtube2AudioRSS transmutator
        </div>

        <div th:replace="~{::custom-links-content}">
        </div>
        <div class="nav-links" sec:authorize="hasRole('ROLE_USER_MANAGEMENT')">
            <a href="/users">Управление пользователями</a>
            <span>|</span>
            <a href="/users/add_invite">Добавить приглашение</a>
        </div>
    </div>

    <div class="user-info" sec:authorize="isAnonymous()">
        <span>Войти через:&nbsp;</span>
        <a href="/oauth2/authorization/github">GitHub</a>
        <!--
        <span>|</span>
        <a href="/oauth2/authorization/google">Google</a>
        -->
        <span>|</span>
        <a href="/oauth2/authorization/yandex">Yandex</a>
    </div>

    <div class="user-info" sec:authorize="isAuthenticated()">
        Вы вошли как:
        <span sec:authentication="principal.user.name">user</span>
        <form th:action="@{/logout}" method="post">
            <button type="submit">
                <img src="/images/icon-exit-human-without-bg.png" alt="Выйти" width="40">
            </button>
        </form>
    </div>
</div>