<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пример страницы WELCOME</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
<div th:replace="~{topmenu}"></div>
<main>
    <div class="to_auth">
        All user files: <a th:href="@{/rss/user/{user_uuid}(user_uuid=${user_uuid})}">all user files feed</a>
    </div>

    <div class="to_auth">
        To channels: <a href="/channels">click here</a>
    </div>
</main>
</body>
</html>