body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1, div, table, header, main, p {
    background-color: #fff;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 8px;
    text-align: left;
    font-style: normal;
    font-size: 14px;
    font-weight: normal;
    border-bottom: 1px solid #ddd;
}

th {
    padding: 8px;
    text-align: left;
    font-style: normal;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}

a {
    color: #0084ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button, input[type="submit"] {
    width: 100%;
    background-color: white;
    border: none;
}

button:hover, input[type="submit"]:hover {
    width: 100%;
    background-color: #0066cc;
    border: none;
}

form {
    display: inline;
}

.alert {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    padding: 10px;
}

.filler {
    height: 20px;
}

.hidden {
    display: none;
}

.navbar {
    background-color: white;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.navbar .together {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar .project-title {
    font-size: 18px;
    color: #333;
    display: flex;
    align-items: center;
}

.navbar .project-title img {
    margin-right: 10px;
    align-items: center;
}

.navbar .nav-links {
    margin-left: 2em;
}

.navbar .user-info {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin: 0;
}

.user-info button {
    text-decoration: none;
    color: #007BFF;
    background: none;
    border: none;
    padding: 0 1px;
    margin: 0;
}

.footer {
    font-size: 14px;
    border-top: 1px solid #ccc;
    border-bottom: none;
    margin-top: 15px;
}

.footer a {
    color: #0066cc; /* Цвет ссылок */
    text-decoration: none; /* Убрать подчеркивание у ссылок */
}

.footer a:hover {
    text-decoration: underline; /* Подчеркивание при наведении для ссылок */
}

.main-part {
    padding: 1em;
    background-color: white;
}

.main-part .header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.header-block .header-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.header-block .header-pages {
    font-size: 14px;
    font-weight: normal;
    color: #444444;
}
.main-part .paragraph {
    padding-top: 1em;
}

.form-container {
    width: 80%;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto; /* Центрируем форму */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container p {
    margin: 0 0 10px;
}

.form-container .note {
    font-size: 0.7em;
    color: #666;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-buttons {
    display: flex;
    justify-content: center; /* Центрируем кнопки */
    gap: 10px; /* Отступ между кнопками */
}

.btn {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    justify-content: center;
}

.btn img {
    padding-right: 0.5em;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-action {
    display: flex;
    align-items: center;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    justify-content: center;
    width: 120px;
}

.btn-action img {
    padding-right: 0.5em;
}
.btn-action:hover {
    background-color: #0056b3;
    width: 120px;
}





